body {
  background-color: #dbd0f8;
  font-family: sans-serif;
}

h1 {
  text-align: center;
  font-family: sans-serif;
  font-size: 38px;
}

h2 {
  margin: 0 0 8px;
  font-size: 26px;
}

select {
  display: block;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  font-size: 18px;
}

.container {
  max-width: 600px;
  margin: 60px auto;
  background: white;
  padding: 35px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
}

.city {
  display: flex;
  margin: 20px 0;
  justify-content: space-between;
  padding: 25px 0;
  border-bottom: 1px dashed rgb(212, 188, 244);
}

.city:last-child {
  border: none;
}

.date {
  opacity: 0.7;
}

.time {
  font-size: 36px;
  font-weight: bold;
}

.time small {
  font-size: 18px;
  line-height: 36px;
  vertical-align: middle;
}

footer {
  text-align: center;
  font-size: 16px;
  color: rgba (0, 0, 0, 0.6);
}
